/* Selections */
.white-text {
  color: antiquewhite;
}

/* Timer */
.timer-style {
  padding: 10px;
  font-size: 32px;
  font-weight: 600;
}

/* General */
.container {
  width: 95%;
  max-width: 95% !important;
  margin: 0 auto;
  padding: 0 0.5rem;
}

/* Controls */
.controls-container {
  padding-bottom: 25px;
}
