/* Selections */
.cursor-pointer {
    cursor: pointer;
}

 .active-tab {
    background-color: rgba(0, 0, 0, .05);
    color: black;
 }

 .gradient-red-pink {
     background: linear-gradient(45deg, #ff5252, #f48fb1) !important;
 }

 .white-text {
    color: antiquewhite;
 }

 /* Timer */
 .timer-style {
    padding-top: 75px;
    padding-bottom: 200px;
    font-size: 32px;
    font-weight: 600;
}

/* General */

.container {
    width: 95%;
    max-width: 95% !important;
    margin: 0 auto;
    padding: 0 .5rem;
}
